<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete deparment</title>
</head>
<body>
<h1>Delete deparment</h1>
<h2>Are you sure ?</h2>
<p><a href="/deparments">Deparment list</a></p>
<form th:action = "@{/delete-deparment}" th:object="${deparment}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name</td>
            <td th:text="${deparment.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Deparment"></td>
        </tr>
    </table>
</form>
</body>
</html>