<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringControllersSanWich:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringControllersSanWich_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringControllersSanWich/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringControllersSanWich" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.18.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.18.RELEASE" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringControllersSanWich/web/Web2" />
    </root>
  </artifact>
</component>